attrs
blis
catalogue
certifi
cffi
chardet
charset-normalizer
click
confection
cryptography
cymem
docx2txt
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.1/en_core_web_sm-2.3.1.tar.gz
Flask
Flask-Assets
Flask-Login
Flask-SQLAlchemy
idna
importlib-metadata
importlib-resources
itsdangerous
Jinja2
joblib
jsonschema
langcodes
MarkupSafe
murmurhash
nltk
numpy
packaging
pandas
pathy
pdfminer.six
pdfplumber
phonenumbers
Pillow
pkgutil_resolve_name
plac
preshed
pycparse
pycryptodome
pydanti
PyPDF2
pyresparser
pyrsistent
pytailwindcss
python-dateutil
python-dotenv
pytz
rake-nltk
regex
requests
resume-parser
six
smart-open
sortedcontainers
spacy
spacy-legacy
spacy-loggers
SQLAlchemy
srsly
stemming
thinc
tika
tqdm
typer
typing_extensions
urllib3
Wand
wasabi
webassets
Werkzeug
zipp
