{% extends "base.html" %}
{% block content %}

<body>
<section class="hero is-fullheight" style="background-color:#ffffff;">
    {% if current_user.is_authenticated %}
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title">
                Flask ADMIN
            </h1>
        </div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}
            </div>
        {% endif %}
    {% endwith %}
    </div>
    <form method="post" action="/admin">
    <div class="mt-8 flex flex-wrap justify-center gap-4">
        <button
        type="submit"
        name="upload_jobs"
        value="true"
        class="block w-full rounded border border-blue-600 bg-blue-600 px-20 py-5 text-xl font-medium text-white hover:text-white hover:opacity-80 focus:outline-none focus:ring active:text-opacity-75 sm:w-auto">
        upload jobs
      </button>

     </div>
    </form>
    {% endif %}
</section>
</body>

</html>
{% endblock %}