<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Flask Auth Example</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
</head>

<body>
<section class="hero is-fullheight" style="background-color:#ffffff;">
    {% if current_user.is_authenticated %}
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title">
                Flask ADMIN
            </h1>
            <h2 class="subtitle">
                we are authenticated
            </h2>
            {% block content %}
            <h1 class="title">
                Welcome, {{ current_user.name }}!
            </h1>
            {% endblock %}
        </div>
    </div>
    {% endif %}
</section>
</body>

</html>