<!-- Homepage (Employer) -->

<div class="my-16 min-h-screen bg-blue-500 pt-2">
    <!-- Navigation Bar -->
    <nav class="flex items-center justicy-between flex-wrap bg-blue-500 p-6">
      <div class="flex items-center flex-shrink-0 text-white mr-6">
        <span class="font-bold text-2xl tracking-widest">SmartHire</span>
      </div>
    
      <div class="w-full block flex-grow sm:flex sm:items-center sm:w-auto">
        <div class="text-sm sm:flex-grow">
          <a 
            href="#"
            class="block mt-4 py-2 sm:inline-block sm:mt-0 text-cyan-100 hover:text-white mr-4"
          >
          <svg class="w-8" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5} stroke="currentColor" className="w-6 h-6">
      <path strokeLinecap="round" strokeLinejoin="round" d="M2.25 12l8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
        </a>
    </svg>
    
          <a 
            href="#"
            class="block mt-4 py-2 sm:inline-block sm:mt-0 text-cyan-100 hover:text-white mr-4"
          >
          <svg class="w-8" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
      <path stroke-linecap="round" stroke-linejoin="round" d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0" />
    </svg>
    
          </a>
          <a 
            href="#"
            class="block mt-4 sm:inline-block sm:mt-0 text-cyan-100 hover:text-white mr-4 tracking-widest"
          >
            Job Search Page
          </a>
          <a 
            href="#"
            class="block mt-4 sm:inline-block sm:mt-0 text-cyan-100 hover:text-white mr-4 tracking-widest"
          >
            Data Page
          </a>
          <a 
            href="#"
            class="block mt-4 sm:inline-block sm:mt-0 text-cyan-100 hover:text-white mr-4 tracking-widest"
          >
            Profile Settings
          </a>
          <a 
            href="#"
            class="block mt-4 sm:inline-block sm:mt-0 text-cyan-100 hover:text-white mr-4 tracking-widest"
          >
            Log Out
          </a>
        </div>
      </div>
    </nav>
    
    <!-- Headings -->
    <div class="container mt-5">
    <div class="min-h-screen">
      <div class="container mx-auto">
        <div class="inputs mx-auto w-full max-w-2xl bg-white p-6">
           <h2 class="text-center text-4xl font-extrabold font-mono  text-cyan-900 tracking-widest">MAIN DASHBOARD</h2>
            <h3 class = "p-4 text-center text-2xl font-extrabold font-mono  text-cyan-900 tracking-wider"> Welcome Back! </h3>
    
          <form class="mt-4 border-t border-black pt-4">
    
    <!-- Job Search Bar -->
                <label class="py-2 text-center text-xl mb-2 block font-bold tracking-wide text-blue-500" for="grid-text-1">Search For Candidates</label>
                <input class="block h-12 w-full appearance-none rounded-full border border-gray-300 bg-sky-100 hover:bg-sky-50 py-3 px-4 leading-tight text-black shadow-inner focus:border-gray-500 focus:outline-none" id="grid-text-1" type="text" placeholder="Enter candidate skills, experience, location, etc." required />
    
                <h1 class="pt-16 text-center text-2xl font-medium underline text-gray-900 tracking-wide">YOUR CERTIFICATIONS</h1>
    
                <h1 class="pt-6 font-bold text-left tracking-wide">EXPERIENCE</h1>
                <p class="font-medium">- Marketing Strategist at Adobe (10 years)</p>
                <p class="font-medium">- Data Analyst for Google (4 years)</p>
                <p class="font-medium">- Marketing Specialist at Tenstorrent (5 years)</p>
    
                <h1 class="pt-6 font-bold text-left tracking-wide">COMPANY VALUES</h1>
                <p class="font-medium">- Marketing</p>
                <p class="font-medium">- Data Analysis</p>
                <p class="font-medium">- Communication</p>
                <p class="font-medium">- Time Management</p>
                <p class="font-medium">- Leadership</p>  
                <p class="font-medium">- Programming Knowledge </p>                   
    </div>
    </div>
    </div>
    </div>
    