<!-- Employer Set Up -->

{% extends "base.html" %}

{% block content %}

<div class="my-16 min-h-screen bg-blue-500 pt-2">
    <div class="container mx-auto">
      <div class="inputs mx-auto w-full max-w-2xl bg-white p-6">
        <h2 class="text-center text-4xl font-medium text-gray-900">Employer Set Up</h2>
        <form class="mt-6 border-t border-gray-400 pt-4">
  
  <form method="POST" action="/employer-setup">
    <label class="text-2l mt-4 mb-4 block font-bold tracking-wide text-gray-700" for="grid-text-1" for ="company_name">Company Name</label>
    <input class="block w-full appearance-none rounded-md border border-gray-400 bg-white py-3 px-4 leading-tight text-gray-700 shadow-inner focus:border-gray-500 focus:outline-none" type="text" id="company_name" name="company_name" required>
  
    <label class="text-2l mt-4 mb-4 block font-bold tracking-wide text-gray-700" for="grid-text-1" for ="company_name" for="industry">Industry</label>
    <input class="block w-full appearance-none rounded-md border border-gray-400 bg-white py-3 px-4 leading-tight text-gray-700 shadow-inner focus:border-gray-500 focus:outline-none" type="text" id="industry" name="industry" required>
  
    <label class="text-2l mt-4 mb-4 block font-bold tracking-wide text-gray-700" for="grid-text-1" for ="company_name" for="location">Location</label>
    <input class="block w-full appearance-none rounded-md border border-gray-400 bg-white py-3 px-4 leading-tight text-gray-700 shadow-inner focus:border-gray-500 focus:outline-none" type="text" id="location" name="location" required>
  
  <div class="flex justify-end">
    <button class="mr-3 mt-8 appearance-none rounded-md border border-gray-400 bg-gray-200 px-2 py-1 text-gray-900 shadow-sm" type="submit">Submit</button>
  </form>
  </div>

  <head>
    <title>Employer Setup Success</title>
  </head>
  <body>
    <div class="alert alert-success" role="alert">
      <h4 class="alert-heading">Employer Setup Success!</h4>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
    </div>
    <a href="{{ url_for('employer_setup') }}">Setup another employer</a>
  </body>

              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  
{% endblock %}