{% extends "base.html" %}
{% block content %}
<div class = "row" style="background-color: lightgray;">
  <div class = "col-sm-4">
    <h5>Predicted Jobs</h5>
          {% for job_card in job_cards %}
              <div class="card" style="width:200px;float:left;">
                  <div class="card-body" style="background-color:lightcyan;">
                      <h5 class="card-title">{{job_card.title}}</h5>
                      <p class="card-company">{{job_card.company}}</p>
                      <p class="card-location">{{job_card.location}}</p>
                      <p>{{job_card.apply}}</p>
                      <a href="{{ job_card.link }}" class="btn btn-primary">Apply here</a>
                  </div>
              </div>
      {% endfor %}
  </div>
</div>
{% endblock %}