{% extends 'base.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TEST</title>
  <link rel="stylesheet" href="{{url_for('static',filename='dist/output.css')}}" />
</head>

<body>
  
   
  <div class="bg-green-300 px-3 py-1">
    <h2 class="text-3xl font-light text-white m-0">Previews</h2>
  </div>

  
  

    <div class="justify-center px-4">
      <form class="grid gap-8 grid-cols-3 mt-5" action="/" method="post">

        {% for file in files %}
  
          <button class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800" type="submit" name="file_selection" 
             value="{{ file }}">{{ file }}</button>
  
          {% endfor %}
  
      </form>
    </div>
</body>

</html>
{% endblock content %}