{% extends "base.html" %}
{% block content %}
<!-- Homepage (User) -->
{% include 'candidateHeader.html' %}
<div class="bg-sky-50 items-center">
<div class="relative overflow-x-auto mx-auto shadow-md sm:rounded-lg">
    <label for="table-search" class="sr-only p-2">Search</label>
    <a href="{{ url_for('candidate.candidate_map') }}"class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded inline-flex items-center m-6">
        Map View
      </a> 
        <div class="relative m-6">
            <div class="absolute inset-y-0 flex items-center pl-3 pointer-events-none">
                <svg class="w-5 h-5 text-gray-500 dark:text-gray-400" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path></svg>
            </div>
            <input type="text" id="table-search" class="block p-2 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search for items">

        </div>
    <table class="w-full text-sm text-left m-6 text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Position
                </th>
                <th scope="col" class="px-6 py-3">
                    Company
                </th>
                <th scope="col" class="px-6 py-3">
                    Location
                </th>
                <th scope="col" class="px-6 py-3">
                    
                </th>
            </tr>
        </thead>
        <tbody>
            {% for job_card in job_list %}
            {% if job_card.title != None %}
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{job_card.title}}
                </th>
                <td class="px-6 py-4">
                    {{job_card.company}}
                </td>
                <td class="px-6 py-4">
                    {{job_card.location}}
                </td>
                <td class="px-6 py-4">
                    <a href="{{ job_card.link }}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Apply</a>
                </td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>
</div>

{% include 'candidateFooter.html' %}
{% endblock %}