{% extends "base.html" %}

{% block content %}

<!-- FAQ Page -->



{% include 'mainPageHeader.html' %}



<!-- Our Team -->

<!-- Nav Bar -->



    <!-- Main Content -->
<main class="max-w-7xl mx-auto py-16 px-4 sm:px-6 lg:px-8">
      <div class="text-center">
        <h2 class="text-3xl font-extrabold text-gray-900 sm:text-4xl">
          Meet Our Team
        </h2>
        <p class="mt-4 text-lg text-gray-500">
          Our team is composed of highly skilled individuals with a passion for helping you find the perfect job.
        </p>
      </div>
      <div class="mt-20 grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3">
        <!-- Team Member 1 -->
<div class="flex items-center">
  <div class="rounded-full overflow-hidden h-16 w-16">
    <img src="https://via.placeholder.com/150" alt="Profile Picture">
  </div>
  <div class="ml-4">
    <h2 class="text-lg font-bold">Shahmeer Qureshi</h2>
    <p class="text-gray-600">Software Engineer</p>
    <p class="text-gray-600"> Hello I'm a Software Engineer</p>
  </div>
</div>


    <!-- Team Member 2 -->
<div class="flex items-center">
  <div class="rounded-full overflow-hidden h-16 w-16">
    <img src="https://via.placeholder.com/150" alt="Profile Picture">
  </div>
  <div class="ml-4">
    <h2 class="text-lg font-bold">Daniel Khan</h2>
    <p class="text-gray-600">Computer Engineer</p>
        <p class="text-gray-600"> Hello I'm a Computer Engineer</p>
  </div>
</div>

    <!-- Team Member 3 -->
<div class="flex items-center">
  <div class="rounded-full overflow-hidden h-16 w-16">
    <img src="https://via.placeholder.com/150" alt="Profile Picture">
  </div>
  <div class="ml-4">
    <h2 class="text-lg font-bold">Mayurah Thayapuran</h2>
    <p class="text-gray-600">Computer Engineer</p>
    <p class="text-gray-600"> Hello I'm a Computer Engineer</p>
  </div>
</div>

    <!-- Team Member 4 -->
<div class="flex items-center">
  <div class="rounded-full overflow-hidden h-16 w-16">
    <img src="https://via.placeholder.com/150" alt="Profile Picture">
  </div>
  <div class="ml-4">
    <h2 class="text-lg font-bold">Nicholas Vieira</h2>
    <p class="text-gray-600">Computer Engineer</p>
    <p class="text-gray-600"> Hello I'm a Computer Engineer</p>
  </div>
</div>
</main>
{% include 'mainPagefooter.html' %}

{% endblock %}